<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <title>{% block title %}Avistamientos de Aves 🐦{% endblock %}</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    {% block css %}{% endblock %}
</head>

<body>
    <header class="main-header">
        <a href="{{ url_for('index') }}" title="Inicio" class="nav-logo-link">
            <img src="{{ url_for('static', filename='uploads/ave.svg') }}" alt="Logo de Ave (Inicio)" class="logo-ave">
            <span class="logo-text">Inicio</span>
        </a>

        <nav class="menu-botones">
            <a href="{{ url_for('registro_voluntario') }}" class="boton-enlace">Registrar Voluntario</a>
            <a href="{{ url_for('informar_avistamiento') }}" class="boton-enlace">Informar Avistamiento</a>
            <a href="{{ url_for('listado_avistamiento') }}" class="boton-enlace">Listado de Avistamientos</a>
            <a href="{{ url_for('metricas') }}" class="boton-enlace">Estadísticas</a>
        </nav>
    </header>

    <div class="page-title-container">
        <h1>Unión de Ornitólogos de Chile</h1>
        {% block header_title %}{% endblock %}
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="mensajes-flash">
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>{% block footer_content %}🐦{% endblock %}</footer>

    {% block javascript %}{% endblock %}
</body>

</html>