{% extends 'base.html' %}

{% block title %}Listado de Avistamientos - Avistamientos de Aves 🐦{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/listados.css') }}">
{% endblock %}

{% block header_title %}
<h2>Listado de Avistamientos</h2>
{% endblock %}
{% block content %}
<section id="filtros">
    <h2>Listado de Avistamientos</h2>
</section>

<div id="tabla-y-paginas">
    <div id="resultados">
        <table id="tabla-avistamientos">
            <thead>
                <tr>
                    <th>Ave</th>
                    <th>Lugar</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Voluntario</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                {% for av in avistamientos %}
                <tr>
                    <td>{{ av.ave.nombre }}</td>
                    <td>{{ av.lugar }}</td>
                    <td>{{ av.fecha_hora.strftime('%d-%m-%Y') }}</td>
                    <td>{{ av.fecha_hora.strftime('%H:%M') }}</td>
                    <td>{{ av.voluntario.nombre }}</td>
                    <td><a href="{{ url_for('detalle_avistamiento', id=av.id) }}">Ver</a></td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="7">No hay avistamientos registrados aún.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div id="paginacion">
        {% if page > 1 %}
        <a href="{{ url_for('listado_avistamiento', page=page-1) }}" class="boton-enlace">&larr; Anterior</a>
        {% else %}
        <span>&larr; Anterior</span>
        {% endif %}

        <span id="info-pagina">Página {{ page }} de {{ total_pages }}</span>

        {% if page < total_pages %} <a href="{{ url_for('listado_avistamiento', page=page+1) }}" class="boton-enlace">
            Siguiente &rarr;</a>
            {% else %}
            <span>Siguiente &rarr;</span>
            {% endif %}
    </div>
</div>
{% endblock %}


{% block javascript %}
<script src="{{ url_for('static', filename='js/data/tipos-aves.js') }}"></script>
<script src="{{ url_for('static', filename='js/data/avistamientos.js') }}"></script>
<script src="{{ url_for('static', filename='js/controllers/listado.js') }}"></script>
{% endblock %}