{% extends 'base.html' %}

{% block title %}Estadísticas para nerds - Avistamientos de Aves 🐦{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/metricas.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block header_title %}
    <h2>Estadísticas para nerds</h2>
{% endblock %}

{% block content %}
        <section>
            <h2>Voluntarios Registrados por Región</h2>
            <div class="contenedor-grafico">
                <canvas id="grafico-voluntarios"></canvas>
            </div>
        </section>

        <section>
            <h2>Avistamientos por Tipo de Ave</h2>
            <div class="contenedor-grafico">
                <canvas id="grafico-avistamientos"></canvas>
            </div>
        </section>
{% endblock %}

{% block javascript %}
    <script src="{{ url_for('static', filename='js/data/metricas-data.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers/metricas.js') }}"></script>
{% endblock %}